In [181]:
# Dependencies
import requests
import json
import numpy as np
import pandas as pd
import pprint

In [189]:
url = "https://api.census.gov/data/"

api_key = "08d9ebd2191eee1da1f2d9d4a5e8c7066d1585fc"

years = [2013, 2014, 2015, 2016, 2017]


#natstprc=2013-2014 population=2015-2017
datasets = ["natstprc", "natstprc", "population", "population", "population"]

#STNAME=2013-2014 GEONAME=2015-2017
states = ["STNAME", "STNAME", "GEONAME", "GEONAME", "GEONAME"]

#2013:6, 2014:7, 2015:8, 2016:9, 2017:10
date_codes = [6, 7, 8, 9 , 10]

query_url = "https://api.census.gov/data/{year}/pep/{dataset}?get={state},POP&DATE={date_code}&for=state:*&key="

response = [];

for year, dataset, state, date_code in zip(years, datasets, states, date_codes):
    year_url = query_url.format(year=year, dataset=dataset, state=state, date_code=date_code)+api_key
    print(year_url)

https://api.census.gov/data/2013/pep/natstprc?get=STNAME,POP&DATE=6&for=state:*&key=08d9ebd2191eee1da1f2d9d4a5e8c7066d1585fc
https://api.census.gov/data/2014/pep/natstprc?get=STNAME,POP&DATE=7&for=state:*&key=08d9ebd2191eee1da1f2d9d4a5e8c7066d1585fc
https://api.census.gov/data/2015/pep/population?get=GEONAME,POP&DATE=8&for=state:*&key=08d9ebd2191eee1da1f2d9d4a5e8c7066d1585fc
https://api.census.gov/data/2016/pep/population?get=GEONAME,POP&DATE=9&for=state:*&key=08d9ebd2191eee1da1f2d9d4a5e8c7066d1585fc
https://api.census.gov/data/2017/pep/population?get=GEONAME,POP&DATE=10&for=state:*&key=08d9ebd2191eee1da1f2d9d4a5e8c7066d1585fc

In [190]:
y13 = "https://api.census.gov/data/2013/pep/natstprc?get=STNAME,POP&DATE=6&for=state:*&key="+api_key
y14 = "https://api.census.gov/data/2014/pep/natstprc?get=STNAME,POP&DATE=7&for=state:*&key="+api_key
y15 = "https://api.census.gov/data/2015/pep/population?get=GEONAME,POP&DATE=8&for=state:*&key="+api_key
y16 = "https://api.census.gov/data/2016/pep/population?get=GEONAME,POP&DATE=9&for=state:*&key="+api_key
y17 = "https://api.census.gov/data/2017/pep/population?get=GEONAME,POP&DATE=10&for=state:*&key="+api_key

response13 = requests.get(y13).json()
response14 = requests.get(y14).json()
response15 = requests.get(y15).json()
response16 = requests.get(y16).json()
response17 = requests.get(y17).json()

In [191]:
df_2013 = pd.DataFrame(response13)
df_2013 = df_2013[[0, 1]]
df_2013 = df_2013.rename(columns={0: "State", 
                                  1: "Population13",})

df_2013.head(53)

                       State Population13
0                     STNAME          POP
1                    Alabama      4833722
2                     Alaska       735132
3                    Arizona      6626624
4                   Arkansas      2959373
5                 California     38332521
6                   Colorado      5268367
7                Connecticut      3596080
8                   Delaware       925749
9       District of Columbia       646449
10                   Florida     19552860
11                   Georgia      9992167
12                    Hawaii      1404054
13                     Idaho      1612136
14                  Illinois     12882135
15                   Indiana      6570902
16                      Iowa      3090416
17                    Kansas      2893957
18                  Kentucky      4395295
19                 Louisiana      4625470
20                     Maine      1328302
21                  Maryland      5928814
22             Massachusetts      6692824
23                  Michigan      9895622
24                 Minnesota      5420380
25               Mississippi      2991207
26                  Missouri      6044171
27                   Montana      1015165
28                  Nebraska      1868516
29                    Nevada      2790136
30             New Hampshire      1323459
31                New Jersey      8899339
32                New Mexico      2085287
33                  New York     19651127
34            North Carolina      9848060
35              North Dakota       723393
36                      Ohio     11570808
37                  Oklahoma      3850568
38                    Oregon      3930065
39              Pennsylvania     12773801
40              Rhode Island      1051511
41            South Carolina      4774839
42              South Dakota       844877
43                 Tennessee      6495978
44                     Texas     26448193
45                      Utah      2900872
46                   Vermont       626630
47                  Virginia      8260405
48                Washington      6971406
49             West Virginia      1854304
50                 Wisconsin      5742713
51                   Wyoming       582658
52  Puerto Rico Commonwealth      3615086

In [192]:
df_2014 = pd.DataFrame(response14)
df_2014 = df_2014[[0, 1]]
df_2014 = df_2014.rename(columns={0: "State", 
                                  1: "Population14"})
    
df_2014.head(53)

                       State Population14
0                     STNAME          POP
1                    Alabama      4849377
2                     Alaska       736732
3                    Arizona      6731484
4                   Arkansas      2966369
5                 California     38802500
6                   Colorado      5355866
7                Connecticut      3596677
8                   Delaware       935614
9       District of Columbia       658893
10                   Florida     19893297
11                   Georgia     10097343
12                    Hawaii      1419561
13                     Idaho      1634464
14                  Illinois     12880580
15                   Indiana      6596855
16                      Iowa      3107126
17                    Kansas      2904021
18                  Kentucky      4413457
19                 Louisiana      4649676
20                     Maine      1330089
21                  Maryland      5976407
22             Massachusetts      6745408
23                  Michigan      9909877
24                 Minnesota      5457173
25               Mississippi      2994079
26                  Missouri      6063589
27                   Montana      1023579
28                  Nebraska      1881503
29                    Nevada      2839099
30             New Hampshire      1326813
31                New Jersey      8938175
32                New Mexico      2085572
33                  New York     19746227
34            North Carolina      9943964
35              North Dakota       739482
36                      Ohio     11594163
37                  Oklahoma      3878051
38                    Oregon      3970239
39              Pennsylvania     12787209
40              Rhode Island      1055173
41            South Carolina      4832482
42              South Dakota       853175
43                 Tennessee      6549352
44                     Texas     26956958
45                      Utah      2942902
46                   Vermont       626562
47                  Virginia      8326289
48                Washington      7061530
49             West Virginia      1850326
50                 Wisconsin      5757564
51                   Wyoming       584153
52  Puerto Rico Commonwealth      3548397

In [193]:
df_2015 = pd.DataFrame(response15)
df_2015 = df_2015[[0, 1]]
df_2015 = df_2015.rename(columns={0: "State", 
                                  1: "Population15"})
df_2015.head(53)

                                                State Population15
0                                             GEONAME          POP
1   Alabama, Alabama, East South Central, South, U...      4858979
2        Alaska, Alaska, Pacific, West, United States       738432
3     Arizona, Arizona, Mountain, West, United States      6828065
4   Arkansas, Arkansas, West South Central, South,...      2978204
5   California, California, Pacific, West, United ...     39144818
6   Colorado, Colorado, Mountain, West, United States      5456574
7   Connecticut, Connecticut, New England, Northea...      3590886
8   Delaware, Delaware, South Atlantic, South, Uni...       945934
9   District of Columbia, District of Columbia, So...       672228
10  Florida, Florida, South Atlantic, South, Unite...     20271272
11  Georgia, Georgia, South Atlantic, South, Unite...     10214860
12       Hawaii, Hawaii, Pacific, West, United States      1431603
13        Idaho, Idaho, Mountain, West, United States      1654930
14  Illinois, Illinois, East North Central, Midwes...     12859995
15  Indiana, Indiana, East North Central, Midwest,...      6619680
16  Iowa, Iowa, West North Central, Midwest, Unite...      3123899
17  Kansas, Kansas, West North Central, Midwest, U...      2911641
18  Kentucky, Kentucky, East South Central, South,...      4425092
19  Louisiana, Louisiana, West South Central, Sout...      4670724
20  Maine, Maine, New England, Northeast, United S...      1329328
21  Maryland, Maryland, South Atlantic, South, Uni...      6006401
22  Massachusetts, Massachusetts, New England, Nor...      6794422
23  Michigan, Michigan, East North Central, Midwes...      9922576
24  Minnesota, Minnesota, West North Central, Midw...      5489594
25  Mississippi, Mississippi, East South Central, ...      2992333
26  Missouri, Missouri, West North Central, Midwes...      6083672
27    Montana, Montana, Mountain, West, United States      1032949
28  Nebraska, Nebraska, West North Central, Midwes...      1896190
29      Nevada, Nevada, Mountain, West, United States      2890845
30  New Hampshire, New Hampshire, New England, Nor...      1330608
31  New Jersey, New Jersey, Middle Atlantic, North...      8958013
32  New Mexico, New Mexico, Mountain, West, United...      2085109
33  New York, New York, Middle Atlantic, Northeast...     19795791
34  North Carolina, North Carolina, South Atlantic...     10042802
35  North Dakota, North Dakota, West North Central...       756927
36  Ohio, Ohio, East North Central, Midwest, Unite...     11613423
37  Oklahoma, Oklahoma, West South Central, South,...      3911338
38       Oregon, Oregon, Pacific, West, United States      4028977
39  Pennsylvania, Pennsylvania, Middle Atlantic, N...     12802503
40  Rhode Island, Rhode Island, New England, North...      1056298
41  South Carolina, South Carolina, South Atlantic...      4896146
42  South Dakota, South Dakota, West North Central...       858469
43  Tennessee, Tennessee, East South Central, Sout...      6600299
44  Texas, Texas, West South Central, South, Unite...     27469114
45          Utah, Utah, Mountain, West, United States      2995919
46  Vermont, Vermont, New England, Northeast, Unit...       626042
47  Virginia, Virginia, South Atlantic, South, Uni...      8382993
48  Washington, Washington, Pacific, West, United ...      7170351
49  West Virginia, West Virginia, South Atlantic, ...      1844128
50  Wisconsin, Wisconsin, East North Central, Midw...      5771337
51    Wyoming, Wyoming, Mountain, West, United States       586107
52                                        Puerto Rico      3474182

In [195]:
df_2016 = pd.DataFrame(response16)
df_2016 = df_2016[[0, 1]]
df_2016 = df_2016.rename(columns={0: "State", 
                                  1: "Population16"})
df_2016.head(53)

                   State Population16
0                GEONAME          POP
1                Alabama      4863300
2                 Alaska       741894
3                Arizona      6931071
4               Arkansas      2988248
5             California     39250017
6               Colorado      5540545
7            Connecticut      3576452
8               Delaware       952065
9   District of Columbia       681170
10               Florida     20612439
11               Georgia     10310371
12                Hawaii      1428557
13                 Idaho      1683140
14              Illinois     12801539
15               Indiana      6633053
16                  Iowa      3134693
17                Kansas      2907289
18              Kentucky      4436974
19             Louisiana      4681666
20                 Maine      1331479
21              Maryland      6016447
22         Massachusetts      6811779
23              Michigan      9928300
24             Minnesota      5519952
25           Mississippi      2988726
26              Missouri      6093000
27               Montana      1042520
28              Nebraska      1907116
29                Nevada      2940058
30         New Hampshire      1334795
31            New Jersey      8944469
32            New Mexico      2081015
33              New York     19745289
34        North Carolina     10146788
35          North Dakota       757952
36                  Ohio     11614373
37              Oklahoma      3923561
38                Oregon      4093465
39          Pennsylvania     12784227
40          Rhode Island      1056426
41        South Carolina      4961119
42          South Dakota       865454
43             Tennessee      6651194
44                 Texas     27862596
45                  Utah      3051217
46               Vermont       624594
47              Virginia      8411808
48            Washington      7288000
49         West Virginia      1831102
50             Wisconsin      5778708
51               Wyoming       585501
52           Puerto Rico      3411307

In [196]:
df_2017 = pd.DataFrame(response17)
df_2017 = df_2017[[0, 1]]
df_2017 = df_2017.rename(columns={0: "State", 
                                  1: "Population17"})
df_2017.head(53)

                   State Population17
0                GEONAME          POP
1                Alabama      4874747
2                 Alaska       739795
3                Arizona      7016270
4               Arkansas      3004279
5             California     39536653
6               Colorado      5607154
7            Connecticut      3588184
8               Delaware       961939
9   District of Columbia       693972
10               Florida     20984400
11               Georgia     10429379
12                Hawaii      1427538
13                 Idaho      1716943
14              Illinois     12802023
15               Indiana      6666818
16                  Iowa      3145711
17                Kansas      2913123
18              Kentucky      4454189
19             Louisiana      4684333
20                 Maine      1335907
21              Maryland      6052177
22         Massachusetts      6859819
23              Michigan      9962311
24             Minnesota      5576606
25           Mississippi      2984100
26              Missouri      6113532
27               Montana      1050493
28              Nebraska      1920076
29                Nevada      2998039
30         New Hampshire      1342795
31            New Jersey      9005644
32            New Mexico      2088070
33              New York     19849399
34        North Carolina     10273419
35          North Dakota       755393
36                  Ohio     11658609
37              Oklahoma      3930864
38                Oregon      4142776
39          Pennsylvania     12805537
40          Rhode Island      1059639
41        South Carolina      5024369
42          South Dakota       869666
43             Tennessee      6715984
44                 Texas     28304596
45                  Utah      3101833
46               Vermont       623657
47              Virginia      8470020
48            Washington      7405743
49         West Virginia      1815857
50             Wisconsin      5795483
51               Wyoming       579315
52           Puerto Rico      3337177

In [200]:
df1s = [df_2013, df_2014, df_2016, df_2017]
df1s = [df1.set_index('State') for df1 in df1s]
df1s = df1s[0].join(df1s[1:])
df1s.head(54)

                         Population13 Population14 Population16 Population17
State
STNAME                            POP          POP          NaN          NaN
Alabama                       4833722      4849377      4863300      4874747
Alaska                         735132       736732       741894       739795
Arizona                       6626624      6731484      6931071      7016270
Arkansas                      2959373      2966369      2988248      3004279
California                   38332521     38802500     39250017     39536653
Colorado                      5268367      5355866      5540545      5607154
Connecticut                   3596080      3596677      3576452      3588184
Delaware                       925749       935614       952065       961939
District of Columbia           646449       658893       681170       693972
Florida                      19552860     19893297     20612439     20984400
Georgia                       9992167     10097343     10310371     10429379
Hawaii                        1404054      1419561      1428557      1427538
Idaho                         1612136      1634464      1683140      1716943
Illinois                     12882135     12880580     12801539     12802023
Indiana                       6570902      6596855      6633053      6666818
Iowa                          3090416      3107126      3134693      3145711
Kansas                        2893957      2904021      2907289      2913123
Kentucky                      4395295      4413457      4436974      4454189
Louisiana                     4625470      4649676      4681666      4684333
Maine                         1328302      1330089      1331479      1335907
Maryland                      5928814      5976407      6016447      6052177
Massachusetts                 6692824      6745408      6811779      6859819
Michigan                      9895622      9909877      9928300      9962311
Minnesota                     5420380      5457173      5519952      5576606
Mississippi                   2991207      2994079      2988726      2984100
Missouri                      6044171      6063589      6093000      6113532
Montana                       1015165      1023579      1042520      1050493
Nebraska                      1868516      1881503      1907116      1920076
Nevada                        2790136      2839099      2940058      2998039
New Hampshire                 1323459      1326813      1334795      1342795
New Jersey                    8899339      8938175      8944469      9005644
New Mexico                    2085287      2085572      2081015      2088070
New York                     19651127     19746227     19745289     19849399
North Carolina                9848060      9943964     10146788     10273419
North Dakota                   723393       739482       757952       755393
Ohio                         11570808     11594163     11614373     11658609
Oklahoma                      3850568      3878051      3923561      3930864
Oregon                        3930065      3970239      4093465      4142776
Pennsylvania                 12773801     12787209     12784227     12805537
Rhode Island                  1051511      1055173      1056426      1059639
South Carolina                4774839      4832482      4961119      5024369
South Dakota                   844877       853175       865454       869666
Tennessee                     6495978      6549352      6651194      6715984
Texas                        26448193     26956958     27862596     28304596
Utah                          2900872      2942902      3051217      3101833
Vermont                        626630       626562       624594       623657
Virginia                      8260405      8326289      8411808      8470020
Washington                    6971406      7061530      7288000      7405743
West Virginia                 1854304      1850326      1831102      1815857
Wisconsin                     5742713      5757564      5778708      5795483
Wyoming                        582658       584153       585501       579315
Puerto Rico Commonwealth      3615086      3548397          NaN          NaN

In [210]:
df2s = [df_2015]
df2s = [df2.set_index('State') for df2 in df2s]
df2s = df2s[0].join(df2s[1:])
df2s.head(54)

                                                   Population15
State
GEONAME                                                     POP
Alabama, Alabama, East South Central, South, Un...      4858979
Alaska, Alaska, Pacific, West, United States             738432
Arizona, Arizona, Mountain, West, United States         6828065
Arkansas, Arkansas, West South Central, South, ...      2978204
California, California, Pacific, West, United S...     39144818
Colorado, Colorado, Mountain, West, United States       5456574
Connecticut, Connecticut, New England, Northeas...      3590886
Delaware, Delaware, South Atlantic, South, Unit...       945934
District of Columbia, District of Columbia, Sou...       672228
Florida, Florida, South Atlantic, South, United...     20271272
Georgia, Georgia, South Atlantic, South, United...     10214860
Hawaii, Hawaii, Pacific, West, United States            1431603
Idaho, Idaho, Mountain, West, United States             1654930
Illinois, Illinois, East North Central, Midwest...     12859995
Indiana, Indiana, East North Central, Midwest, ...      6619680
Iowa, Iowa, West North Central, Midwest, United...      3123899
Kansas, Kansas, West North Central, Midwest, Un...      2911641
Kentucky, Kentucky, East South Central, South, ...      4425092
Louisiana, Louisiana, West South Central, South...      4670724
Maine, Maine, New England, Northeast, United St...      1329328
Maryland, Maryland, South Atlantic, South, Unit...      6006401
Massachusetts, Massachusetts, New England, Nort...      6794422
Michigan, Michigan, East North Central, Midwest...      9922576
Minnesota, Minnesota, West North Central, Midwe...      5489594
Mississippi, Mississippi, East South Central, S...      2992333
Missouri, Missouri, West North Central, Midwest...      6083672
Montana, Montana, Mountain, West, United States         1032949
Nebraska, Nebraska, West North Central, Midwest...      1896190
Nevada, Nevada, Mountain, West, United States           2890845
New Hampshire, New Hampshire, New England, Nort...      1330608
New Jersey, New Jersey, Middle Atlantic, Northe...      8958013
New Mexico, New Mexico, Mountain, West, United ...      2085109
New York, New York, Middle Atlantic, Northeast,...     19795791
North Carolina, North Carolina, South Atlantic,...     10042802
North Dakota, North Dakota, West North Central,...       756927
Ohio, Ohio, East North Central, Midwest, United...     11613423
Oklahoma, Oklahoma, West South Central, South, ...      3911338
Oregon, Oregon, Pacific, West, United States            4028977
Pennsylvania, Pennsylvania, Middle Atlantic, No...     12802503
Rhode Island, Rhode Island, New England, Northe...      1056298
South Carolina, South Carolina, South Atlantic,...      4896146
South Dakota, South Dakota, West North Central,...       858469
Tennessee, Tennessee, East South Central, South...      6600299
Texas, Texas, West South Central, South, United...     27469114
Utah, Utah, Mountain, West, United States               2995919
Vermont, Vermont, New England, Northeast, Unite...       626042
Virginia, Virginia, South Atlantic, South, Unit...      8382993
Washington, Washington, Pacific, West, United S...      7170351
West Virginia, West Virginia, South Atlantic, S...      1844128
Wisconsin, Wisconsin, East North Central, Midwe...      5771337
Wyoming, Wyoming, Mountain, West, United States          586107
Puerto Rico                                             3474182

In [211]:
df1s.to_csv("Output/Census13,14,16,17.csv", index=True, header=True)

In [212]:
df2s.to_csv("Output/Census15.csv", index=True, header=True)